body {
  background-image: url("images/bg.png");
  color: #fff;
  min-height: 700px;
}

a{
  cursor: pointer;
  color: #01d7d2;
}

a:focus {
    width:0px;height:0px;outline:0px;
}

.container{
  width: 870px !important;
  max-width: 870px !important;
}

.App {
  text-align: center;
}

.app-content{
    padding: 0 25px 0 35px;
}

.login-title > h2 {
  font-family: "LatoWebLight";
  font-size: 34px;
}

.login-title > hr, .password-title > hr {
  border-color: #fdb603;
  border-top-width: 4px;
  width: 55px;
  margin-top: 22px;
}

.password-title > h2 {
    font-family: "LatoWebLight";
    font-size: 32px;
}

.App-header {
  background-color: #181f25;
  height: 82px;
  color: white;
}

.App-intro {
  font-size: large;
}

.logo, .header-logo{
  background-image: url("images/logo.png");
}

.header-logo{
  width:130px;
  height:50px;
  margin-top: 14px;
  margin-left: 7px;
}

.header-icons{
  float: right;
  margin: 10px 0px;
}

.header-icons > a > div{
    height: 42px;
    width: 42px;
    border-radius: 30px;
    background-color: rgba(82,86,96,0);
    border: 1px solid #1f4b45;
    margin-top: 9px;
    margin-right: 18px;
}

.header-icons > a > .twitter{
  background-image: url("images/tw.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 22px;
}

.header-icons > a > .facebook{
    background-image: url("images/fb.png");
    background-repeat: no-repeat;
    background-position: 12px 8px;
    background-size: 16px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 870px;
    }
}

.main-menu{
    margin-top: 60px;
}
.main-menu > .container-fluid{
  padding: 0px;
}

.main-menu > .container-fluid > hr{
  margin: 0px;
  border-color: #264251 currentcolor currentcolor;
}

.main-menu > .container-fluid > hr{
  margin: 0px;
  border-color: #264251 currentcolor currentcolor;
}

.main-menu > .container > .items > div > hr{
  border-top-width: 0px;
  margin: 10px 0 0;
  padding: 0 10%;
  width: 80%;
}

.main-menu > .container {
    height: 33px;
}


.main-menu > .container > .items > div > a{
  text-decoration: none;
}

.main-menu > .container > .items > .selected > hr{
  border-color: #fdb603;
  border-top-width: 4px;
  margin: 7px 0 0;
  padding: 0 10%;
  width: 80%;
}

.main-menu > .container > .items > div{
  padding:0px;
}

.main-menu > .container > .items > div > a{
  color: white;
  font-family: monospace;
  font-size: 12px;
}

.promotion > .panel {
  background-color: #13181e;
  padding: 15px;
}

.panel-header-label{
  font-size: 10px;
  padding-right: 15px;
  text-align: right;
}

.promotion-detail, .promotion-steps, .promotion-status{
  text-align: left;
}

.promotion-steps{
  padding: 20px 0;
  background-image: url("images/promotion-background.png");
}

.promotion-steps.clock{
    padding: 20px 0;
    background-image: url("images/promotion-clock-background.png");
  }

.promotion-status{
  position: absolute;
}
.promotion-status > div > span{
  text-transform: uppercase;
  font-size: 10px !important;
}

.promotion-calendars{
  font-size: 9px;
  text-transform: uppercase;
}

.promotion-name{
  font-size: 20px;
}

.promotion-detail{
  font-size: 10px;
  margin-top: 10px;
}

.promotion-download-package{
  float: right;
}

.promotion-download-package > div{
  background-color: transparent !important;
  border: solid 1px #00ffff !important;
}

.promotion-download-package > div > span{
  text-transform: uppercase;
  font-size: 10px !important;
  color: #00ffff !important;
  line-height: 22px !important;
}

/* TABLE*/

.smotion-table {
  font-size: 10px;
  color: #657680;
}

.smotion-table > .react-bs-table-container > .react-bs-table{
  border:0px;
}

.caret {
  color:#00ffff !important;
}

.smotion-table > .react-bs-table-container > .react-bs-table > .react-bs-container-header > table > thead > tr >th{
  border:0px;
  text-align: center !important;
}



.smotion-table > .react-bs-table-container > .react-bs-table > .react-bs-container-body > table > tbody > tr > td {
  border: 0px;
  border-right: 1px solid #2b475d;
  border-bottom: 1px solid #2b475d;
}

.smotion-table.selection > .react-bs-table-container > .react-bs-table > .react-bs-container-body > table > tbody > tr > td:first-child{
  border: 0px;
  border-bottom: 1px solid #2b475d;
}

.smotion-table > .react-bs-table-container > .react-bs-table > .react-bs-container-body > table > tbody > tr > td:last-child{
  border: 0px;
  border-bottom: 1px solid #2b475d;
}

.smotion-table > .react-bs-table-container > .react-bs-table-pagination > div > div > ul > li.page-item > a{
  background-color: #113042;
  border-color: #234254;
  color: #6b747c;
}

.smotion-table > .react-bs-table-container > .react-bs-table-pagination > div > div > ul > li.active > a{
  background-color: #00ffff !important;
  border-color: #14aeb6 !important;
  color: #12676c !important;
}

.app-message-error{
  color: red;
  font-size: 12px;
}

.app-message-success{
  color: #00ffff;
  font-size: 12px;
  position: absolute;
  left: 6px;
}

.user-ico{
  background-image: url("images/user_ico.png");
  height: 45px;
  width: 45px;
  background-size: 42px;
}

.settings-ico{
    background-image: url("images/settings.png");
    height: 14px;
    width: 16px;
    background-size: 18px;
    background-repeat: no-repeat;
    float: left;
    position: absolute;
    right: 190px;
}

.label {
  font-size: 10px;
  margin: 0px;
}

.gray{
  color: #69747e;
}

.no-padding{
  padding:0px;
}

.no-margin{
  margin:0px;
}

.bg-gray{
  background-color: #eaeeef;
}

.white-form label, .header{
  color:#24292c !important;
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: bold !important;
}

.white-form div{
  text-align: left;
}


.white-form input, .white-form > .select-form > div > div > div {
  color:#767b7e !important;
  font-size: 12px !important;
}

.white-form hr:first-child{
  border-color: #a2b7c2 !important;
}

.white-form svg{
  fill: #171e24 !important;
  margin-left: 10px !important;
}

.btn-smotion {
  box-shadow: none !important;
  background-color: transparent !important;
}

.btn-smotion > button, .btn-smotion > label {
  /*top: 18px !important;*/
  background-color: #93a1ac !important;
  border-radius: 0px !important;
  height: 42px !important;
}

.btn-smotion > button > div > div, .btn-smotion > label > div > div{
  text-align: center !important;
}

.btn-smotion > button > div > div > span,
.btn-smotion > label > div > div > span,
.btn-smotion > button > div > span,
.btn-smotion > label > div > span,
.header{
  font-size: 10px !important;
  color: rgb(31,37,45) !important;
  font-family: "LatoWebBlack";
}

.btn-smotion button:disabled,
.btn-smotion label:disabled,
{
  opacity: 0.4 !important;
}

.btn-smotion.primary > button, .btn-smotion.primary > button{
  background-color: #00ffff !important;
}

.btn-smotion.secondary > button, .btn-smotion.secondary > label{
  background-color: #ffb600 !important;
}

.btn-smotion.btn-submit{
  width: 100%;
}

.btn-smotion.btn-submit > button{
  top: 18px !important;
}

.promo-edit-level{
  position: absolute;
  font-size: 10px;
  margin-top: 16px;
  font-weight: bold;
  max-width: 55px;
  margin-left: -27px;
  cursor: pointer;

  min-height: 35px;
  min-width: 53px;
}

.promo-level{
  height: 70px !important;
  width: 70px !important;
  text-align: center !important;
  display: inline-block !important;
  margin: 0 50px 0 40px !important;
  background-repeat: no-repeat;
  background-size: 70px auto;
  cursor: pointer;
  background-color: #2b333e !important;
}

.promotion-steps > .promo-level:first-child, .promotion-steps > div > .promo-level:first-child{
  margin: 0 40px 0 0 !important;
}

.promotion-steps > .promo-level:last-child, .promotion-steps > div > .promo-level:last-child{
  margin: 0 0 0 100px !important;
}

.smotion-dialog > div > div > div {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 0px !important;
}

.header h6{
  font-weight: bold;
}

.header a.close{
  color: #222524;
  float: left;
  margin-top: 8px;
}

.btn-smotion.link {
  height: auto !important;
  line-height: 0px !important;
}

.btn-smotion.link svg{
  fill: #00ffff !important;
  height: 14px !important;
  margin: 0px !important;
}

.btn-smotion.link > div > span{
  color: #00ffff !important;
  font-size: 10px !important;
  padding: 0px !important;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.lowercase{
  text-transform: lowercase;
}

a, .primary-color {
  color: #00ffff;
}

.promo-logo{
  height: 65px;
  width: 250px;
  text-align: 'center';
  display: 'inline-block';
  background-repeat: no-repeat;
  background-size: 250px 65px;
  background-color: transparent !important;
  box-shadow: none !important;
}

.header-user-name{
  display: inline-flex;
  font-size: 10px;
  vertical-align: 14px;
  margin-right: 25px;
  font-family: "LatoWeb";
}

.micro-icons {
  background-image: url("images/micro_icons.png");
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
}

.micro-icons.user{
  background-position: -4px -4px;
}

.transparent-input, .transparent-input:focus{
  background-color: transparent;
  border: 0 none;
  outline: none;
}

.fullwidth{
  width: 100%;
}

.form-label{
  position: absolute;
  line-height: 22px;
  top: 38px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  z-index: 1;
  transform: scale(0.75) translate(0px, -28px);
  transform-origin: left top 0px;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.3);
}

.form-switches-inline{
  margin-top: 37px;
}

.app-ico{
  display: inline !important;
  padding: 0px !important;
}

.promo-level.signup{
  border: 2px solid #00ffff !important;
}

.promo-level.signup, .promo-level.clock{
  border: 2px solid #00ffff !important;
}

.promo-level.watch-demo{
  border: 2px solid #eca706 !important;
}

.promo-level.signup > span, .promo-level.clock > span{
  color: #00ffff !important;
  margin-left: -26px !important;
}

.promo-level.signup > span{
  font-size: 13px !important;
  margin-top: 25px !important;
}

.promo-level.clock > span{
  font-size: 33px !important;
  font-weight: normal !important;
  margin-top: 10px !important;
}

.promo-level.watch-demo {
  background-color: #13181e !important;
}

.promo-level.watch-demo > span{
  color: #eca706 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  margin-top: 14px !important;
  text-transform: uppercase;
}

.demo-player{
  padding: 10px 55px 30px
}

.st-lvl{
    width: 75px !important;
    height: 25px;
}

.st-lvl > span{
    padding: 0px 0px !important;
    position: absolute;
    bottom: -3px;
    text-align: center;
    width: 100%;
}

.st-lvl-0{
    margin: 3px 40px 7px 0 !important;
  visibility: hidden;
}

.st-lvl-1{
  margin: -32px 50px 6px 145px !important;
  visibility: hidden;
}

.st-lvl-2{
  margin: -32px 50px 8px 307px !important;
  visibility: hidden;
}

.st-lvl-3{
  margin: -32px 50px 7px 470px !important;
  visibility: hidden;
}

.st-lvl-4{
  margin: -32px 0 0 687px !important;
  visibility: hidden;
}

.visible{
  visibility: visible;
}

.st-lvl-4.Pending{
    background-color: #93a1ab !important;
}

.st-lvl-4.Pending > span{
  font-size: 9px !important;
  color: rgb(19,24,30) !important;
  font-family: "LatoWebBold";
  font-weight: bold;
  text-align: center;
}

.st-lvl-4.Declined, .st-lvl-4.Forfeited{
  background-color: #ff5900 !important;
}

.st-lvl-4.Declined > span .st-lvl-4.Forfeited > span{
    font-size: 9px !important;
    color:#fff !important;
    font-family: "LatoWebBold";
    font-weight: bold;
    text-align: center;
  }

.st-lvl-4.Active, .st-lvl-4.Inactive, .st-lvl-4.Published, .st-lvl-4.Deleted, .st-lvl-4.Awarded{
  visibility: hidden;
}

.input-icon{
  position: 'relative';
  display: 'inline-block'
}

.input-icon svg{
  z-index: 1000 !important;
  cursor: pointer !important;
  position: absolute;
  right: 0;
  top: 15;
  width: 20;
  height: 20;
}

.ico-inline{
  margin-left: 0px !important;
  margin-top: 35px !important;
}

.column-choose-file{
    padding-top: 20px;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
    text-transform: capitalize !important;
}

.promotion-tooltip label{
    color: #00ffff;
    font-size: 10px;
    text-transform: uppercase;
    font-family: "LatoWeb";
}

.promotion-tooltip span{
    color: #fff;
    font-size: 15px;
    font-family: "LatoWebBold";
    text-transform: uppercase;
}

.promotion-tooltip hr{
    margin: 10px 0px;
    border-color: #13181e;
}

.promotion-tooltip{
    padding: 10px 20px;
}

.promotion-tooltip-container{
    margin: 5px 0px 0px 50px;
    border-radius: 5px;
    box-shadow: 1.5px 2.598px 57px rgba(0,0,0,0.39) !important;
    background-color: #323a45 !important;
    width: 180px;
}

.items {
    padding-left: 20px;
    padding-top: 4px;
}

.menu-item {
    z-index: 1000;
}

.items > div > a {
    color: #859199 !important;
    font-size: 13px !important;;
    font-family: "LatoWeb" !important;
}

.items > .selected > a {
    color: #fff !important;
}

.user-icon{
    position: relative !important;
    top: -10px !important;
    width: 10px !important;
    right: 25px !important;
}

.user-icon > button{
    width: 25px !important;
    height: 33px !important;
    left: 8px;
}


.user-icon > button > div > svg {
    float: right;
    fill: #00ffff !important;
    width: 16px !important;
}

.items > div {
    height: 0px;
}

.items > .dashboard{
    width:88px;
}

.items > .promotions{
    width:90px;
}

.items > .docs-files{
    width: 150px;
}

.user-menu-client{
    width: 100%;
    cursor: pointer;
}

.user-menu-staff{
    width: 510px;
}

.login-input {
    margin-top: 15px;
}

.remember-me {
    margin-top: 20px;
}

.login-input > div, .login-input > input {
    font-family: "LatoWeb";
    text-align: center !important;
    font-size: 12px !important;
}

.login-input > input {
    bottom: 6px !important;
}

.login-input > div {
    width: 100% !important;
    bottom: 18px !important;
    color: rgb(147,161,172) !important;
}

.login-input hr{
    border-color:#256588 !important;
}

.login-form{
    margin-top: 80px;
}

.login-button{
    margin-top: 25px;
}

.forgot-pw-link{
    margin-top: 20px;
}

.white-link, .white-link:focus, .white-link:hover{
    color: #fff;
}

.login-form > form{
    margin-top: 50px;
}

.app-message-error{
    margin: 0px;
}

.forgot-pw-link > a {
    margin-left: 25px;
}

.forgot-button{
    margin-top: 43px;
}

.back-login-link{
    margin-top: 20px;
}

.login-check > div > div{
    left: 65px;
}

.login-check svg{
    width: 20px !important;
    height: 20px !important;
    border-radius: 15px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #d5d9df;
    transform: none !important;
    color: #00ffff !important;
    fill: #00ffff !important;
    left: 3px;
    top: 2px;
}

.login-check > div > div > div > svg:first-child path{
    display:none !important;
}

.login-check label {
    font-family: "LatoWeb" !important;
    font-weight: normal !important;
}

.recovery-success-message{
    margin-top: 80px;
}

.dark-input input{
    width: 240px !important;
    height: 30px !important;
    background-color: rgba(25,35,42,0.6) !important;
    border: 1px solid #294759 !important;
    padding: 5px 10px !important;
    font-size: 14px !important;
    color: rgb(255,255,255) !important;
    font-family: "LatoWeb" !important;
}

.dark-input hr{
    display: none !important;
}

.dark-input.input-icon svg{
    width: 40px !important;
    height: 30px !important;
    background-color: #00ffff !important;
    color: #1b252d !important;
    fill: #1b252d !important;
    top: 0px !important;
}

.dark-input.input-icon > div > div{
    font-size: 14px !important;
    color: rgb(255,255,255) !important;
    font-family: "LatoWeb" !important;
    bottom: 21px !important;
    left: 12px !important;
}

.user-menu-item, .user-menu-item > div > div > div, .user-menu-item:focus, .user-menu-item:hover{
    color: rgb(19,24,30) !important;
    text-align: right !important;
    font-size: 12px !important;
    font-family: "LatoWeb" !important;
}

.user-menu-item > div > div{
    float: right !important;
}
