body {
  background-image: url("images/bg.png");
  color: #fff;
}

a{
  cursor: pointer;
  color: #01d7d2;
}

.container{
  width: 870px !important;
  max-width: 870px !important;
}

.App {
  text-align: center;
}

.login-title > hr{
  border-color: #fdb603;
  border-top-width: 4px;
  width: 50px;
}

.App-header {
  background-color: #181f25;
  height: 75px;
  color: white;
}

.App-intro {
  font-size: large;
}

.logo, .header-logo{
  background-image: url("images/logo.png");
}

.header-logo{
  width:130px;
  height:50px;
  margin-top: 10px;
}

.header-icons{
  display: flex;
  float: right;
  margin: 10px;
}

.header-icons > a > .twitter{
  background-image: url("images/social_icons.png");
  background-position: 0 -5px;
  height: 45px;
  width: 55px;
}

.header-icons > a > .facebook{
  background-image: url("images/social_icons.png");
  background-position: -58px -5px;
  height: 45px;
  width: 55px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 870px;
    }
}

.main-menu > .container-fluid{
  padding: 0px;
}

.main-menu > .container-fluid > hr{
  margin: 0px;
  border-color: #264251 currentcolor currentcolor;
}

.main-menu > .container-fluid > hr{
  margin: 0px;
  border-color: #264251 currentcolor currentcolor;
}

.main-menu > .container > .items{
  margin-left: 25px;
}

.main-menu > .container > .items > div > hr{
  border-top-width: 0px;
  margin: 10px 0 0;
  padding: 0 10%;
  width: 80%;
}

.main-menu > .container > .items > div > a{
  text-decoration: none;
}

.main-menu > .container > .items > .seleted > hr{
  border-color: #fdb603;
  border-top-width: 4px;
  margin: 10px 0 0;
  padding: 0 10%;
  width: 80%;
}

.main-menu > .container > .items > div{
  padding:0px;
}

.main-menu > .container > .items > div > a{
  color: white;
  font-family: monospace;
  font-size: 12px;
}

.promotion > .panel {
  background-color: #13181e;
  padding: 15px;
}

.panel-header-label{
  font-size: 10px;
  padding-right: 15px;
  text-align: right;
}

.promotion-detail, .promotion-steps, .promotion-status{
  text-align: left;
}

.promotion-steps{
  padding: 20px 0;
}

.promotion-status{
  position: absolute;
}
.promotion-status > div > span{
  text-transform: uppercase;
  font-size: 10px !important;
}

.promotion-calendars{
  font-size: 9px;
  text-transform: uppercase;
}

.promotion-name{
  font-size: 20px;
}

.promotion-detail{
  font-size: 10px;
  margin-top: 10px;
}

.promotion-download-package{
  float: right;
}

.promotion-download-package > div{
  background-color: transparent !important;
  border: solid 1px #00FFFD !important;
}

.promotion-download-package > div > span{
  text-transform: uppercase;
  font-size: 10px !important;
  color: #00FFFD !important;
  line-height: 22px !important;
}

/* TABLE*/

.smotion-table {
  font-size: 10px;
  color: #657680;
}

.smotion-table > .react-bs-table-container > .react-bs-table{
  border:0px;
}

.caret {
  color:#00fffe !important;
}

.smotion-table > .react-bs-table-container > .react-bs-table > .react-bs-container-header > table > thead > tr >th{
  border:0px;
  text-align: center !important;
}



.smotion-table > .react-bs-table-container > .react-bs-table > .react-bs-container-body > table > tbody > tr > td {
  border: 0px;
  border-right: 1px solid #2b475d;
  border-bottom: 1px solid #2b475d;
}

.smotion-table.selection > .react-bs-table-container > .react-bs-table > .react-bs-container-body > table > tbody > tr > td:first-child{
  border: 0px;
  border-bottom: 1px solid #2b475d;
}

.smotion-table > .react-bs-table-container > .react-bs-table > .react-bs-container-body > table > tbody > tr > td:last-child{
  border: 0px;
  border-bottom: 1px solid #2b475d;
}

.smotion-table > .react-bs-table-container > .react-bs-table-pagination > div > div > ul > li.page-item > a{
  background-color: #113042;
  border-color: #234254;
  color: #6b747c;
}

.smotion-table > .react-bs-table-container > .react-bs-table-pagination > div > div > ul > li.active > a{
  background-color: #01ffff !important;
  border-color: #14aeb6 !important;
  color: #12676c !important;
}

.app-message-error{
  color: red;
  font-size: 12px;
}

.app-message-success{
  color: #01d7d2;
  font-size: 12px;
}

.user-ico{
  background-image: url("images/user_ico.png");
  height: 45px;
  width: 45px;
  background-size: 42px;
}

.label {
  font-size: 10px;
  margin: 0px;
}

.gray{
  color: #69747e;
}

.no-padding{
  padding:0px;
}

.no-margin{
  margin:0px;
}

.bg-gray{
  background-color: #eaeeef;
}

.white-form label, .header{
  color:#24292c !important;
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: bold !important;
}

.white-form div{
  text-align: left;
}


.white-form input, .white-form > .select-form > div > div > div {
  color:#767b7e !important;
  font-size: 12px !important;
}

.white-form hr:first-child{
  border-color: #a2b7c2 !important;
}

.white-form svg{
  fill: #171e24 !important;
  margin-left: 10px !important;
}

.btn-smotion {
  box-shadow: none !important;
  background-color: transparent !important;
}

.btn-smotion > button, .btn-smotion > label {
  /*top: 18px !important;*/
  background-color: #93a1ac !important;
  border-radius: 0px !important;
}

.btn-smotion > button > div > div, .btn-smotion > label > div > div{
  text-align: center !important;
}

.btn-smotion > button > div > div > span,
.btn-smotion > label > div > div > span,
.btn-smotion > button > div > span,
.btn-smotion > label > div > span,
.header{
  font-size: 10px !important;
  color: #222524 !important;
}

.btn-smotion button:disabled,
.btn-smotion label:disabled,
{
  opacity: 0.4 !important;
}

.btn-smotion.primary > button, .btn-smotion.primary > button{
  background-color: #01ffff !important;
}

.btn-smotion.secondary > button, .btn-smotion.secondary > label{
  background-color: #ffb600 !important;
}

.btn-smotion.btn-submit{
  width: 100%;
}

.btn-smotion.btn-submit > button{
  top: 18px !important;
}

.promo-edit-level{
  position: absolute;
  font-size: 10px;
  margin-top: 16px;
  font-weight: bold;
  max-width: 55px;
  margin-left: -27px;
  cursor: pointer;

  min-height: 35px;
  min-width: 53px;
}

.promo-level{
  height: 70px !important;
  width: 70px !important;
  text-align: center !important;
  display: inline-block !important;
  margin: 0 50px 0 40px !important;
  background-repeat: no-repeat;
  background-size: 70px auto;
  cursor: pointer;
}

.promo-level:first-child{
  margin: 0 40px 0 0 !important;
}

.promo-level:last-child{
  margin: 0 0 0 130px !important;
}

.smotion-dialog > div > div > div {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 0px !important;
}

.header h6{
  font-weight: bold;
}

.header a.close{
  color: #222524;
  float: left;
  margin-top: 8px;
}

.btn-smotion.link {
  height: auto !important;
  line-height: 0px !important;
}

.btn-smotion.link svg{
  fill: #01fafc !important;
  height: 14px !important;
  margin: 0px !important;
}

.btn-smotion.link > div > span{
  color: #01fafc !important;
  font-size: 10px !important;
  padding: 0px !important;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.lowercase{
  text-transform: lowercase;
}

a, .primary-color {
  color: #01fafc;
}

.promo-logo{
  height: 65px;
  width: 250px;
  text-align: 'center';
  display: 'inline-block';
  background-repeat: no-repeat;
  background-size: 250px 65px;
}

.header-user-name{
  display: inline-flex;
  font-size: 12px;
}

.micro-icons {
  background-image: url("images/micro_icons.png");
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
}

.micro-icons.user{
  background-position: -4px -4px;
}

.transparent-input, .transparent-input:focus{
  background-color: transparent;
  border: 0 none;
  outline: none;
}

.fullwidth{
  width: 100%;
}

.form-label{
  position: absolute;
  line-height: 22px;
  top: 38px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  z-index: 1;
  transform: scale(0.75) translate(0px, -28px);
  transform-origin: left top 0px;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.3);
}

.form-switches-inline{
  margin-top: 37px;
}

.app-ico{
  display: inline !important;
  padding: 0px !important;
}

.promo-level.signup{
  border: 2px solid #01f1ee !important;
}

.promo-level.signup, .promo-level.clock{
  border: 2px solid #01f1ee !important;
}

.promo-level.watch-demo{
  border: 2px solid #eca706 !important;
}

.promo-level.signup > span, .promo-level.clock > span{
  color: #01f1ee !important;
  margin-left: -26px !important;
}

.promo-level.signup > span{
  font-size: 13px !important;
  margin-top: 25px !important;
}

.promo-level.clock > span{
  font-size: 33px !important;
  font-weight: normal !important;
  margin-top: 10px !important;
}

.promo-level.watch-demo {
  background-color: #13181e !important;
}

.promo-level.watch-demo > span{
  color: #eca706 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  margin-top: 14px !important;
  text-transform: uppercase;
}

.demo-player{
  padding: 10px 55px 30px
}

.st-lvl-0{
  margin: 0 40px 0 0 !important;
  visibility: hidden;
}

.st-lvl-1{
  margin: -32px 50px 0 150px !important;
  visibility: hidden;
}

.st-lvl-2{
  margin: -32px 50px 0 310px !important;
  visibility: hidden;
}

.st-lvl-3{
  margin: -32px 50px 0 470px !important;
  visibility: hidden;
}

.st-lvl-4{
  margin: -32px 0 0 720px !important;
  visibility: hidden;
}

.visible{
  visibility: visible;
}

.st-lvl-4.Pending > span{
  color: #000 !important;
}

.st-lvl-4.Declined, .st-lvl-4.Forfeited{
  background-color: #ff5900 !important;
}

.st-lvl-4.Active, .st-lvl-4.Inactive, .st-lvl-4.Published, .st-lvl-4.Deleted, .st-lvl-4.Awarded{
  visibility: hidden;
}

.input-icon{
  position: 'relative';
  display: 'inline-block'
}

.input-icon svg{
  z-index: 1000 !important;
  cursor: pointer !important;
}

.ico-inline{
  margin-left: 0px !important;
  margin-top: 35px !important;
}

.column-choose-file{
    padding-top: 20px;
}

.table > tbody > tr > td{
    vertical-align: middle !important;
}

.promotion-tooltip label{
    color: #01fafc;
    font-size: 10px;
    text-transform: uppercase;
}

.promotion-tooltip span{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.promotion-tooltip hr{
    margin: 10px 0px;
    border-color: #13181e;
}

.promotion-tooltip{
    padding: 10px 20px;
}
